<div class="main-title text-center">Eat the Burgers!</div>

<div class="container area">
  <div class="sub-title text-center">
    <div>*** Add a burger and then devour it, just for fun. ***</div>
  </div>

  <div class="row">
    <div class="col-lg-1 text-center col1"></div>
    <div class="col-lg-4 text-center col2">
      <div class="not-eaten text-center">
        <h4 class="burger-heading">Burgers ready to eat.</h4>
        <ul>
          {{#each burgers}}
          {{#unless this.devoured}}
          <li>
            <div class="burger-area">
              <div class="row">
                <div class="col-lg-9 text-center">
                  <div class="burger-name">Burger: {{this.burger_name}}</div>
                  <div class="customer-name">Customer: {{this.customer}}</div>
                </div>
                <div class="col-lg-3 text-center">
                  <button class="eat-burger" data-id="{{this.id}}">Devour!</button>
                </div>
              </div>
            </div>
          </li>
          <br>
          {{/unless}}
          {{/each}}
        </ul>
      </div>
    </div>

    <div class="col-lg-2 text-center col3">
      <div class="image-area text-center">
        <img class="image-info text-center" src="/assets/img/yellow_burger.jpg">
      </div>
    </div>


    <div class="col-lg-4 text-center col4">
      <div class="eaten text-center">
        <h4 class="burger-heading">Burgers you Devoured!</h4>
        <ul>
          {{#each burgers}}
          {{#if this.devoured}}
          <li>
            <div class="devoured-area text-center">
              <div class="row">
                <div class="col-lg-12 text-center">
                  <div class="devoured text-center">
                    <div>{{this.burger_name}}, eatten by: 
                      <span>{{this.customer}}</span>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </li>
          {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>
    <div class="col-lg-1 text-center col5"></div>
  </div>
  <br>
  <hr>
  <br>

  <div class="row">
    <div class="col-lg-12 text-center">
      <div class="add-area text-center">

        <h2 class="text-center">Add A Burger! (get creative)</h2>

        <form class="text-center" method="POST" action="/api/add">
          <input type="text" name="name" placeholder="burger type">
          <input type="text" name="customer" placeholder="customer name">
          <button type="submit">Add New Burger</button>
        </form>
      </div>
    </div>
  </div>
</div>

<footer class="footer-area text-center">
  <div class="footer-info txt-center">
    Created by BJ Smith, with the help of Node.js
  </div>
</footer>